*{
    font-family: sans-serif;
    
}
header nav{
    margin: auto;
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 50px;
    position: sticky;
    
}
header nav ul li{
    display: inline-block;
    margin: 0 5px;
}
header nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
body{
    height: 100vh;
    background: linear-gradient(#000f27 , rgba(0, 34, 34, 0.88));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 0.25s;
}
header nav div a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1.5px;
}
header nav div a h1:hover , header nav ul li a:hover{
    color: #0ef;
}

::-webkit-scrollbar{
    width: 12px;
    background: linear-gradient(#000f27 , rgba(0, 34, 34, 0.88));
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#fff);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#0ef);
}
.toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.toggle_btn:hover{
    color: #0ef;
}
.dropdown_menu li a{
    color: #fff;
    text-decoration: none;
    list-style: none;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 70px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 40px;
    overflow:hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 280px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    text-align: center;
    justify-content: center;
}
.dropdown_menu li a:hover{
    color: #0ef;
}

.container{
    display: flex;
    width: 70%;
    height: 300px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 20% auto 20% auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.container p{
    margin: 10px 30px;
    color: #fff;
    
}
.container h2{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}
.topics{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.topics div{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    background: rgba(75, 75, 75, 0.4);
    overflow: hidden;
    margin: auto;
}
.topics div h3,
.topics div p{
    margin: 20% auto 20% auto;
    color: #fff;
}
.topics div p{
    margin: calc(18% - 10px);
}
.designer{
    display: flex;
    width: 80%;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
    margin: 20% auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.designer a{
    text-decoration: none;
    color: #fff;
}
.designer a:hover{
    color: #0ef;
}

@media (max-width: 505px){
    ul{
        display: none;
    }
    .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
        width: unset;
        left: 2rem;
    }
}
header nav img{
    width: 100px;
    height: 30px;
}