body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000f27 , rgba(0, 34, 34, 0.88));
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
h1{
    color: white;
    font-size: 60px;
    
}